.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: var(--background-color);
    border-radius: 12px;
}

.projectCard img {
    width: 100%;
    border-radius: 8px;
}

.usedSkills {
    display: flex;
    flex-wrap: wrap;
}
