:root {
    --background-dark: hsl(0, 0%, 90%);
    --background: hsl(0, 0%, 95%);
    --background-light: hsl(0, 0%, 100%);

    --border-color: --background-dark;

    --main-text: hsl(0, 0%, 0%);
    --secondary-text: hsl(0, 0%, 10%);

    --primary: hsl(220, 100%, 70%);
}

body {
    width: 100vw;

    background: var(--background-dark);
    color: var(--secondary-text);

    display: flex;
    align-items: center;
    gap: 30px;
}

html {
    scroll-behavior: smooth;
}

.filter {
    width: fit-content;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: black;
    border-radius: 12px;
    background-color: white;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.52);
    border-style: solid;
}