:root {
  --dark-background-color: hsl(0, 0%, 5%);
  --secondary-text-color: hsl(265, 8%, 40%);
  --primary-text-color: hsl(260, 35%, 5%);
  --border: hsl(260, 5%, 90%);
  
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0.04;
}

body {
  width: 1126px;
  max-width: 100%;
  min-height: 100svh;
  background: var(--dark-background-color);

  margin: 0 auto;
  box-sizing: border-box;

  text-align: center;
  font-family: geist;

  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: var(--primary-text-color);
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
